 <!-- Hero 1 -->
    <div class="hero homeHero1">
        <h2>SEARCH</h2>
       <div class="homeSearchBar" ng-init="heroFilter = 'all'">
           <select ng-model="heroFilter">
               <option selected hidden disabled>- Please Select -</option>
               <option value="All">All</option>
               <option value="Math">Math</option>
               <option value="Science">Science</option>
               <option value="English">English</option>
               <option value="Humanities">Humanities</option>
               <option value="Chinese">Chinese</option>
               <option value="Spanish">Spanish</option>
               <option value="Art">Art</option>
               <option value="Drama">Drama</option>
               <option value="Music">Music</option>
               <option value="PHE">PHE</option>
               <option value="Design">Design</option>
               <option value="CE">Community Engagement</option>
           </select>
           <button class="homeSearchButton" ng-click="goFilter(heroFilter)">SEARCH</button>
       </div>
       <div class="subjectBulletin">
           <div class="subject math" ng-click="goFilter('Math')">
               <h3>Math</h3>
           </div>
           <div class="subject science" ng-click="goFilter('Science')">
               <h3>Science</h3>
           </div>
           <div class="subject english" ng-click="goFilter('English')">
               <h3>English</h3>
           </div>
           <div class="subject humanities" ng-click="goFilter('I & S')">
               <h3>I & S</h3>
           </div>
           <div class="subject chinese" ng-click="goFilter('Chinese')">
               <h3>Chinese</h3>
           </div>
           <div class="subject spanish" ng-click="goFilter('Spanish')">
               <h3>Spanish</h3>
           </div>
           <div class="subject art" ng-click="goFilter('Art')">
               <h3>Art</h3>
           </div>
           <div class="subject drama" ng-click="goFilter('Drama')">
               <h3>Drama</h3>
           </div>
           <div class="subject music" ng-click="goFilter('Music')">
               <h3>Music</h3>
           </div>
           <div class="subject phe" ng-click="goFilter('PHE')">
               <h3>PHE</h3>
           </div>
           <div class="subject design" ng-click="goFilter('Design')">
               <h3>Design</h3>
           </div>
           <div class="subject ce" ng-click="goFilter('CE')">
               <h3>Community</h3>
               <h3>Engagement</h3>
           </div>
       </div>
    </div>