<div class="profileWrapper">
    <div class="profileBackdrop">
        <div class="createProfilePrompt" id="createProfilePrompt" ng-show="user && !profile.fullName">
            <h3>You need to complete your profile before you can access this page.</h3>
            <h3>Complete now?</h3>
            <button ng-click="createProfileFormSwitch()">BEGIN</button>
        </div>
        <div class="profileForm container-fluid" id="profileForm">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="profileBasicsInput box">
                        <h4>Basic info</h4>
                        <label>
                            Full name:
                            <br>
                            <input type="text" name="" ng-model="newProfile.fullName">
                        </label>
                        <label>
                            Description:
                            <br>
                            <textarea placeholder="I am in year _. I love __, __and __. Happy to help out with any of these subjects." ng-model="newProfile.description"></textarea>
                        </label>
                        <label>
                            Birthday:
                            <br>
                            <input type="date" name="" ng-model="newProfile.bday">
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="profileSubjectsInput box">
                        <h4>Best Subjects:</h4>
                        <div class="subjectsColumnContainer">
                            <div class="subjectsColumn">
                                <label><input ng-true-value="'Math'" type="checkbox" name="subject" ng-model="newProfile.subjects.math"> Math</label>
                                <label><input ng-true-value="'English'" type="checkbox" name="subject" ng-model="newProfile.subjects.english"> English</label>
                                <label><input ng-true-value="'Chinese'" type="checkbox" name="subject" ng-model="newProfile.subjects.chinese"> Chinese</label>
                                <label><input ng-true-value="'Art'" type="checkbox" name="subject" ng-model="newProfile.subjects.art"> Art</label>
                                <label><input ng-true-value="'Music'" type="checkbox" name="subject" ng-model="newProfile.subjects.music"> Music</label>
                                <label><input ng-true-value="'PHE'" type="checkbox" name="subject" ng-model="newProfile.subjects.phe"> PHE</label>
                            </div>
                            <div class="subjectsColumn">
                                <label><input ng-true-value="'Science'" type="checkbox" name="subject" ng-model="newProfile.subjects.science"> Science</label>
                                <label><input ng-true-value="'I & S'" type="checkbox" name="subject" ng-model="newProfile.subjects.is"> I & S</label>
                                <label><input ng-true-value="'Spanish'" type="checkbox" name="subject" ng-model="newProfile.subjects.spanish"> Spanish</label>
                                <label><input ng-true-value="'Drama'" type="checkbox" name="subject" ng-model="newProfile.subjects.drama"> Drama</label>
                                <label><input ng-true-value="'Design'" type="checkbox" name="subject" ng-model="newProfile.subjects.design"> Design</label>
                                <label><input ng-true-value="'CE'" type="checkbox" name="subject" ng-model="newProfile.subjects.ce"> CE</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="requirementNotice box">
                        <h5>PLEASE NOTE ALL <br> FIELDS ARE REQUIRED</h5>
                        <button ng-click="createProfile(newProfile, user)" ng-show="newProfile.fullName && newProfile.description && newProfile.subjects && newProfile.bday">SUBMIT</button>
                        <h6>Error: Not all fields completed</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile" ng-show="user && profile.fullName">
            <div class=profileImage style="background-image: url({{user.photoURL}});"></div>
            <div class="profileInfo" ng-init="edit = false">
                <div class="profileBasics">
                    <div class="innerBox">
                        <h4>{{profile.fullName}}</h4>
                        <label ng-show="edit">
                            <h4>Full name:</h4>
                            <input type="text" name="" value="{{user.name}}">
                        </label>
                        <p>About: <br>{{profile.description}}</p>
                        <label ng-show="edit">
                            <h4>Description:</h4>
                            <textarea value="{{user.description}}"></textarea>
                        </label>
                        <p>DOB: {{profile.bday}}</p>
                        <label ng-show="edit">
                            <h4>Birthday:</h4>
                            <input type="date" name="">
                        </label>
                    </div>
                    <div class="innerBox">
                        <h4>Subjects:</h4>
                        <ul>
                            <li ng-show="profile.subjects.math">Maths</li>
                            <li ng-show="profile.subjects.science">Science</li>
                            <li ng-show="profile.subjects.english">English</li>
                            <li ng-show="profile.subjects.chinese">Chinese</li>
                            <li ng-show="profile.subjects.art">Art</li>
                            <li ng-show="profile.subjects.music">Music</li>
                            <li ng-show="profile.subjects.ce">CE</li>
                            <li ng-show="profile.subjects.is">I & S</li>
                            <li ng-show="profile.subjects.phe">PHE</li>
                            <li ng-show="profile.subjects.spanish">Spanish</li>
                            <li ng-show="profile.subjects.drama">Drama</li>
                            <li ng-show="profile.subjects.design">Design</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profileBackdrop tickets container-fluid" ng-show="profile.fullName">
        <h2>Tickets:</h2>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="currentTicketsOwn innerBox">
                    <h4>Make Ticket:</h4>
                    <hr>
                    <div class="addTicket">
                        <label>
                            Ticket Title:
                            <input type="text" name="" ng-model="newTicket.title">
                        </label>
                        <label>
                            Deadline:
                            <input type="date" name="" ng-model="newTicket.deadline">
                        </label>
                        <label>Description:</label>
                        <textarea ng-model="newTicket.description"></textarea>
                        <label>Subject:</label>
                        <select ng-model="newTicket.subject">
                            <option value="Maths">Maths</option>
                            <option value="Science">Science</option>
                            <option value="English">English</option>
                            <option value="Spanish">Spanish</option>
                            <option value="Chinese">Chinese</option>
                            <option value="I & S">I & S</option>
                            <option value="PHE">PHE</option>
                            <option value="CE">CE</option>
                            <option value="Art">Art</option>
                            <option value="Music">Music</option>
                            <option value="Drama">Drama</option>
                            <option value="Design">Design</option>
                        </select>
                        <br>
                        <button ng-click="createTicket(newTicket,user)" ng-show="newTicket.title && newTicket.deadline && newTicket.description && newTicket.subject">Submit Ticket</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="currentTicketsOwn innerBox" ng-init="taken = 0">
                    <h4>Own Tickets: <br>
                        <span ng-click="taken = 1" ng-class="{active: taken == 1}">Taken</span>
                        <span ng-click="taken = 0" ng-class="{active: taken == 0}">Open</span>
                        <span ng-click="taken = 3" ng-class="{active: taken == 3}">Completed</span>
                    </h4>
                    <hr>
                    <div class="myTickets">
                        <div class="myTicket" ng-repeat="ticket in tickets" ng-if="ticket.uid == user.uid" ng-show="(ticket.taken == $parent.taken && !ticket.completed) || ($parent.taken == 3 && ticket.completed)">
                            <div class="status open" ng-show="ticket.taken == false && !ticket.completed">
                                OPEN
                            </div>
                            <div class="status taken" ng-show="ticket.taken == true && !ticket.completed">
                                TAKEN
                            </div>
                            <div class="status completed" ng-show="ticket.taken == true && ticket.completed">
                                COMPLETED
                            </div>
                            <button ng-click="deleteTicket(ticket,user)" ng-show="!ticket.completed">Delete</button>
                            <div class="ticketInfo">
                                <h5>{{ticket.ticketTitle}}</h5>
                                <p class="deadline">Subject: {{ticket.subject}}</p>
                                <hr>
                                <p>{{ticket.description}}</p>
                                <p class="deadline">Deadline: {{ticket.deadline}}</p>
                                <hr>
                            </div>
                            <div class="ticketOwner">
                                <img src="{{ticket.image}}" alt="{{user.displayName}}">
                                <h5 class="smallTitle">{{ticket.name}}</h5>
                                <p>Email: {{ticket.email}}</p>
                                <hr>
                            </div>
                            <div class="ticketStatus">
                                <h5 class="smallTitle">Status:
                                    <span ng-if="ticket.taken">Taken</span>
                                    <span ng-if="!ticket.taken">Open</span>
                                </h5>
                                <div class="innerStatus" ng-show="ticket.taken">
                                    <img src="{{ticket.takenImage}}" alt="{{ticket.takenName}}">
                                    <p>Name: {{ticket.takenName}}</p>
                                    <p>Email: <a href="mailto:{ticket.takeEmail}}">{{ticket.takenEmail}}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="currentTicketsHelp innerBox" ng-init="completed = false">
                    <h4>Helping Tickets:
                        <br>
                        <span ng-click="completed = true" ng-class="{active: completed == true}">Completed</span>
                        <span ng-click="completed = false" ng-class="{active: completed == false}">Pending</span>
                    </h4>
                    <hr>
                    <div class="myTickets">
                        <div class="myTicket" ng-repeat="ticket in tickets" ng-if="ticket.takenName == user.displayName" ng-show="ticket.taken == true && ticket.completed == $parent.completed">
                            <div class="status completed" ng-show="ticket.taken == true && ticket.completed">
                                COMPLETED
                            </div>
                            <div class="status open" ng-show="ticket.taken == true && !ticket.completed">
                                PENDING
                            </div>
                            <button ng-click="unHelpPerson(ticket,user)" ng-show="ticket.completed == false">Un-help</button>
                            <button ng-click="completeTicket(ticket,user)" ng-show="ticket.completed == false" class="help">Complete</button>
                            <div class="ticketInfo">
                                <h5>{{ticket.ticketTitle}}</h5>
                                <p class="deadline">Subject: {{ticket.subject}}</p>
                                <hr>
                                <p>{{ticket.description}}</p>
                                <p class="deadline">Deadline: {{ticket.deadline}}</p>
                                <hr>
                            </div>
                            <div class="ticketOwner">
                                <img src="{{ticket.image}}" alt="{{user.displayName}}">
                                <h5 class="smallTitle">{{ticket.name}}</h5>
                                <p>Email: <a href="mailto:{ticket.takeEmail}}">{{ticket.email}}</a></p>
                                <hr>
                            </div>
                            <div class="ticketStatus">
                                <h5 class="smallTitle">Status:
                                    <span ng-if="ticket.taken">Taken</span>
                                    <span ng-if="!ticket.taken">Open</span>
                                </h5>
                                <div class="innerStatus" ng-show="ticket.taken">
                                    <img src="{{ticket.takenImage}}" alt="{{ticket.takenName}}">
                                    <p>Name: {{ticket.takenName}}</p>
                                    <p>Email: {{ticket.takenEmail}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>