<div class="ticketBulletin container-fluid">
    <h1>TICKET BULLETIN</h1>
    <div class="ticketFilter">
        <p ng-click="filter = 'all'" ng-class="{active: filter == 'all'}" class="All">All</p>
        <p ng-click="filter = 'Math'" ng-class="{active: filter == 'Math'}" class="Maths">Math</p>
        <p ng-click="filter = 'Science'" ng-class="{active: filter == 'Science'}" class="Science">Science</p>
        <p ng-click="filter = 'English'" ng-class="{active: filter == 'English'}" class="English">English</p>
        <p ng-click="filter = 'I & S'" ng-class="{active: filter == 'I & S'}" class="Humanities">I & S</p>
        <p ng-click="filter = 'Chinese'" ng-class="{active: filter == 'Chinese'}" class="Chinese">Chinese</p>
        <p ng-click="filter = 'Spanish'" ng-class="{active: filter == 'Spanish'}" class="Spanish">Spanish</p>
        <p ng-click="filter = 'Design'" ng-class="{active: filter == 'Design'}" class="Design">Design</p>
        <p ng-click="filter = 'Art'" ng-class="{active: filter == 'Art'}" class="Art">Art</p>
        <p ng-click="filter = 'Drama'" ng-class="{active: filter == 'Drama'}" class="Drama">Drama</p>
        <p ng-click="filter = 'Music'" ng-class="{active: filter == 'Music'}" class="Music">Music</p>
        <p ng-click="filter = 'PHE'" ng-class="{active: filter == 'PHE'}" class="PHE">PHE</p>
        <p ng-click="filter = 'CE'" ng-class="{active: filter == 'CE'}" class="CE">CE</p>
    </div>
    <div class="ticketAlert">
        <h2>Please sign in with a DC email to access more detailed information.</h2>
    </div>
    <div class="ticketColumnWrapper row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="ticketColumn">
                <h2>HELP NEEDED</h2>
                <div class="Humanities myTicket {{ticket.subject}}" ng-repeat="ticket in tickets" ng-show="ticket.taken == false && (ticket.subject.includes(filter) || filter == 'all')" >
                    <button ng-click="deleteTicket(ticket,user)" ng-if="ticket.uid == user.uid">Delete</button>
                    <button ng-click="helpPerson(ticket,user)" ng-if="ticket.uid != user.uid && profile">Help</button>
                    <div class="ticketInfo">
                        <h5>{{ticket.ticketTitle}}</h5>
                        <p>Subject: {{ticket.subject}}</p>
                        <hr>
                        <p>{{ticket.description}}</p>
                        <p>Deadline: {{ticket.deadline}}</p>
                        <hr>
                    </div>
                    <div class="ticketOwner"  ng-if="user.email.includes('@dc.edu.hk')">
                        <img src="{{ticket.image}}" alt="{{user.displayName}}">
                        <h5>{{ticket.name}}</h5>
                        <p>Email: {{ticket.email}}</p>
                        <hr>
                    </div>
                    <div class="ticketStatus">
                        <h5>Status:
                            <span ng-if="ticket.taken">Taken</span>
                            <span ng-if="!ticket.taken">Open</span>
                        </h5>
                        <div class="innerStatus" ng-show="ticket.taken">
                            <img src="{{ticket.takenImage}}" alt="{{ticket.takenName}}">
                            <p>Name: {{ticket.takenName}}</p>
                            <p>Email: <a href="mailto:{ticket.takeEmail}}">{{ticket.takenEmail}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="ticketColumn">
                <h2>IN PROGRESS</h2>
                <div class="myTicket {{ticket.subject}}" ng-repeat="ticket in tickets" ng-show="ticket.taken == true && ticket.completed != true && (ticket.subject.includes(filter) || filter == 'all')">
                    <button ng-click="deleteTicket(ticket,user)" ng-if="ticket.uid == user.uid">Delete</button>
                    <button ng-click="unHelpPerson(ticket,user)" ng-if="ticket.takenUid == user.uid">Unhelp</button>
                    <div class="ticketInfo">
                        <h5>{{ticket.ticketTitle}}</h5>
                        <p>Subject: {{ticket.subject}}</p>
                        <hr>
                        <p>{{ticket.description}}</p>
                        <p>Deadline: {{ticket.deadline}}</p>
                        <hr>
                    </div>
                    <div class="ticketOwner"  ng-if="user.email.includes('@dc.edu.hk')">
                        <img src="{{ticket.image}}" alt="{{user.displayName}}">
                        <h5>{{ticket.name}}</h5>
                        <p>Email: {{ticket.email}}</p>
                        <hr>
                    </div>
                    <div class="ticketStatus">
                        <h5>Status:
                            <span ng-if="ticket.taken">Taken</span>
                            <span ng-if="!ticket.taken">Open</span>
                        </h5>
                        <div class="innerStatus" ng-show="ticket.taken"  ng-if="user.email.includes('@dc.edu.hk')">
                            <img src="{{ticket.takenImage}}" alt="{{ticket.takenName}}">
                            <p>Name: {{ticket.takenName}}</p>
                            <p>Email: <a href="mailto:{ticket.takeEmail}}">{{ticket.takenEmail}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="ticketColumn">
                <h2>COMPLETED</h2>
                <div class="myTicket {{ticket.subject}}" ng-repeat="ticket in tickets" ng-show="ticket.completed == true && (ticket.subject.includes(filter) || filter == 'all')">
                    <button ng-click="deleteTicket(ticket,user)" ng-if="ticket.uid == user.uid">Delete</button>
                    <div class="ticketInfo">
                        <h5>{{ticket.ticketTitle}}</h5>
                        <p>Subject: {{ticket.subject}}</p>
                        <hr>
                        <p>{{ticket.description}}</p>
                        <p>Deadline: {{ticket.deadline}}</p>
                        <hr>
                    </div>
                    <div class="ticketOwner"  ng-if="user.email.includes('@dc.edu.hk')">
                        <img src="{{ticket.image}}" alt="{{user.displayName}}">
                        <h5>{{ticket.name}}</h5>
                        <p>Email: {{ticket.email}}</p>
                        <hr>
                    </div>
                    <div class="ticketStatus">
                        <h5>Status:
                            <span ng-if="ticket.taken">Taken</span>
                            <span ng-if="!ticket.taken">Open</span>
                        </h5>
                        <div class="innerStatus" ng-show="ticket.taken"  ng-if="user.email.includes('@dc.edu.hk')">
                            <img src="{{ticket.takenImage}}" alt="{{ticket.takenName}}">
                            <p>Name: {{ticket.takenName}}</p>
                            <p>Email: <a href="mailto:{ticket.takeEmail}}">{{ticket.takenEmail}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>