<!-- Footer -->
<div class="footer">
    <div class="column">
        <a href="/#/home" ng-click="windowScroll(0, 0)"><h2>S T U T O R</h2></a>
    </div>
    <div class="column">
        <a href="/#/about" ng-click="windowScroll(0, 0)">
            <h4>About</h4>
        </a>
        <a href="/#/about" ng-click="windowScroll(830, 1490)">
            <p>Who we are</p>
        </a>
        <a href="/#/about" ng-click="windowScroll(1197, 2452)">
            <p>What we do</p>
        </a>
        <a href="/#/about" ng-click="windowScroll(1570, 3415)">
            <p>Our Goal</p>
        </a>
    </div>
    <div class="column">
        <a href="/#/contact" ng-click="windowScroll(0, 0)">
            <h4>Contact us</h4>
        </a>
        <a href="/#/contact" ng-click="windowScroll(130, 113)">
            <p>Details</p>
        </a>
        <a href="/#/contact" ng-click="windowScroll(130, 733)">
            <p>Community</p>
        </a>
        <a href="/#/contact" ng-click="windowScroll(826, 1415)">
            <p>FAQ</p>
        </a>
    </div>
    <div class="column">
        <i class="fa fa-angle-double-up" style="font-size:48px;color:#FFF" ng-click="windowScroll(0)"></i>
    </div>
    <a href="secret.html"><button class="secretButton"></button></a>
</div>